*{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
	font-family: 'Inter', sans-serif;
	text-align: center;
	color: #ffffff;
}

.first_block{
	min-height: 100vh;
	max-width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #de2b24;
	padding: 0 20%;
}

.first_head{
	margin-top: 5%;
	display: flex;
	flex-direction: column;
}

h1.first_title{
	font-size: 250%;
	font-weight: 700;
}
h3.first_description{
	font-size: 130%;
	font-weight: 100;
}
h1.line{
	font-size: 250%;
}

.table_block{
	margin-top: 3%;
	display: flex;
	justify-content: stretch;
	flex-direction: column;
	margin-bottom: 3%;
}

.table_row{
	height: 32vh;
	display: inline-flex;
	flex-direction: row;
}

.table_cell{
	flex: 1 1 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #f35e59;
}

img.in_text_image{
	width: 15%;
	height: 15%;
	margin-bottom: 7%;
}

h2.cell_title{
	font-weight: 700;
	font-size: 160%;
}

h4.cell_text{
	font-weight: 500;
}

.img_cell{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.camera_image{
	object-position: 89%;
}

.second_block{
	min-height: 100vh;
	max-width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1287bf;
	padding: 0 2.5%;
}

.second_head{
	margin-top: 6%;
	display: flex;
	flex-direction: column;
}

h1.second_title{
	font-weight: 700;
	font-size: 260%
}

p.second_description{
	font-weight: 100;
	font-size: 145%
}

.circle{
	width: 50px;
	height: 50px;
	margin: 15px auto;
	border-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
}

.arrow{
	border: solid #ffffff;
  	border-width: 0 2px 2px 0;
  	display: inline-block;
	margin-top: 15px;
  	padding: 6px;
	transform: rotate(45deg);
}

.triangle{
	width: 0;
	height: 0;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
	border-bottom: 30px solid #ffffff;
}

.input_form{
	display: flex;
	max-width: 70%;
	align-items: center;
	flex-direction: column;
}

.form_body{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 65%;
	min-width: min-content;
	margin-bottom: 7.7%;
	background-color: #ffffff;
}


.form_head{
	display: flex;
	flex-direction: column;
	max-width: 85%;
	padding-top: 5%;
}

.form_head > p{
	color: #828282;
	font-size: 105%;
	font-weight: 400;
}

form.input_fields{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 5%;
	max-width: 68%;
	width: 100%;
	padding-bottom: 7%;
}

form.input_fields > input{
	max-width: 92%;
	min-width: min-content;
	width: 100%;
	height: 6vh;
	text-align: left;
	padding-left: 3.5%;
	margin-bottom: 4%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	font-size: 105%;
	font-weight: 400;
	color: black;
}

form.input_fields > input:focus{
	box-shadow: 0 0 2px 2px #1287bf;
}

form.input_fields > input.submit_button{
	background-color: #de2b24;
	color: white;
	border-color: white;
	border-radius: 5px;
	max-width: 30%;
	min-width: min-content;
	min-height: min-content;
	text-align: center;
	height: 6vh;
	padding: 0;
	margin: 3% auto;
	font-weight: 700;
	font-size: 110%;
}

.third_block{
	min-height: 60vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #2a2a2a;
}

.third_head{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
	font-size: 140%;
}

.social_media{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social_media > img{
	width: 35px;
	height: 35px;
	border-style: solid;
	border-color: #515151;
	border-width: 2px;
	border-radius: 4px;
	object-fit: scale-down;
	margin: 25px 10px 0 10px;
	padding: 7px;
	transition: .2s;
}

.subscription_form{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 10%;
	width: 55%;
}

.social_media > img:hover{
	border-color: #de2b24;
	transition: .2s;
}

.caption{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3% 0;
}

.caption > p{
	color: #adadad;
	font-weight: 400;
	font-size: 100%;
	text-align: center;
	margin-bottom: 2%;
}

.input_email{
	display: inline-flex;
	flex: auto;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	max-width: 700px;
}

.input_email > form > input{
	width: 98.5%;
	height: 50px;
	color: #cecece;
	background-color: #515151;
	text-align: left;
	padding-left: 1.5%;
	font-size: 100%;
	font-weight: 400;
}

.input_email > form > input.subscribe_button{
	width: 25%;
	min-width: min-content;
	height: 60px;
	text-align: center;
	padding: 0;
	background-color: transparent;
	border-style: solid;
	border-color: #515151;
	border-width: 2px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 100%;
	margin-top: 4%;
}

.fourth_block{
	display: flex;
	flex-direction: column;
	min-height: 63px;
	justify-content: center;
	background-color: #515151;
	text-align: center;
}

.fourth_block > p{
	color: #cecece;
	text-align: center;
}
